body {
 font-family: sans-serif;
 margin: 0;
 padding: 0;
 background-color: #f4f4f4;
 color: #333;
}

header {
     background-color: #333;
    color: white;
    /* Header'ın içeriğini ortalar ve hizalar */
    padding: 1em 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
     
}


nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.hero {
    background-color: #ddd;
    padding: 50px 20px;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.gallery {
    margin-top: 30px;
}

.artwork-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.artwork-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.artwork-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


.artists {
    margin-top: 30px;
}

.artist-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.artist-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.artist-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.about, .contact {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* İçeriği aşağı itmek için */
}


/* Slayt Gösterisi Stilleri */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    position: relative;
     overflow: hidden;
     
}

.slide img {
    width: 100%;
    height: auto;
}

/* Önceki ve Sonraki Butonları */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0; /* Sol oka sol kenara yapışma kuralı 
    border-radius: 0 3px 3px 0; /* Sağ kenar yuvarlak */
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Slayt Numarası */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Slayt Alt Yazısı */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

/* Nokta Göstergeler */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Solma Animasyonu */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* Açılır Menü Stilleri */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.dropbtn {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #e0e0e0;}

.artwork-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}




.artwork-item[data-type] {
    display: block; /* Başlangıçta tüm eserler görünür */
}

.dropdown-content a.active {
    font-weight: bold;
}


.fixed-cart-link {
    position: fixed; /* Sabit konumlandırma */
    top: 20px; /* Üstten boşluk */
    right: 20px; /* Sağdan boşluk */
    background-color: rgba(255, 255, 255, 0.8);
    color: #007bff; /* Mavi metin rengi */
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    z-index: 1001; /* Diğer elementlerin üzerinde görünmesi için yüksek bir z-index */
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

.fixed-cart-link:hover {
    background-color: rgba(255, 255, 255, 1); /* Fare üzerine gelindiğinde daha belirgin arka plan */
}

.fixed-cart-link img {
    margin-right: 5px;
}